<%- include('../partials/header') %>
<div class="container">
    <h1>Create a new Comment</h1>
    <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="comment[text]" placeholder="Text">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include('../partials/footer') %>
